<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"/>

<body class="bg-light">
<nav th:replace="fragments.html :: mainNavbar"/>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    이메일 인증이 되지 않으면 위드 트래블의 서비스를 이용할 수 없습니다! <a href="#" th:href="@{/check-email}"class = "alert-lint">계정인증 이메일</a>을 확인하세요!
</div>
<div class="container">
    <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <span th:text="${message}">완료</span>
    </div>
    <div class="py-5 text-center">
        <h2>여행 계획 세우기</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-8" action="#"
              th:action="@{/travel/newtravel}" th:object="${travelForm}" method="post" novalidate>
            <div class="form-group">
                <label for="travelName">여행 이름</label>
                <input id="travelName" type="text" th:field="*{travelName}" class="form-control"
                       placeholder="여행에 이름을 붙여 주세요." aria-describedby="travelNameHelp" required>
                <small id="travelNameHelp" class="form-text text-muted">
                    15자 이하의 영문, 숫자 조합으로 입력해주세요.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('travelName')}" th:errors="*{travelName}">
                    15자를 초과하는 여행 이름입니다.
                </small>
            </div>
            <div class="form-group">
                <label for="Path">여행 경로</label>
                <input id="Path" type="text" th:field="*{Path}" class="form-control"
                       placeholder="여행에 이름을 붙여 주세요." aria-describedby="PathHelp" required>
                <small id="PathHelp" class="form-text text-muted">
                    15자 이하의 영문, 숫자 조합으로 입력해주세요. 여행을 찾을 수 있는 경로가 됩니다.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('Path')}" th:errors="*{Path}">
                    15자를 초과하는 여행 경로입니다.
                </small>
            </div>
            <div class="form-group">
                <label for="shortDescriptionCheck">갈 여행에 대해서 간략하게 설명해주세요.</label>
                <input id="shortDescriptionCheck" type="text" th:field="*{shortDescription}" class="form-control"
                       placeholder="여행에 대해서 50자 이내로 설명해주세요." aria-describedby="shortDescriptionHelp" required>
                <small id="shortDescriptionHelp" class="form-text text-muted">
                    어떤 목적의 여행인가요? 어디로 가실건가요? 어떤 사람들과 가고 싶나요?
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">
                    적절하지 않은 설명입니다.
                </small>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" >
                    <label for="startTimeCheck">여행을 언제 시작할지 알려주세요. </label>
                    <input id="startTimeCheck" type="datetime-local" th:field="*{startTime}" class="form-control"
                           placeholder="여행에 대해서 한 번 더 설명해주세요." aria-describedby="startTimeHelp" required>
                    <small id="startTimeHelp" class="form-text text-muted">
                        여행을 언제 떠나실건가요? 한번 설정하시면 고칠 수 없어요.
                    </small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">
                        적절하지 않은 설명입니다.
                    </small>
                </div>
                <div class="form-group col-sm-6">
                    <label for="endTime">여행이 끝나는 시간을 알려주세요. </label>
                    <input id="endTime" type="datetime-local" th:field="*{endTime}" class="form-control"
                           placeholder="여행에 대해서 한 번 더 설명해주세요." aria-describedby="endTimeHelp" required>
                    <small id="endTimeHelp" class="form-text text-muted">
                        여행을 언제 마무리 하실 건가요? 한번 설정하시면 고칠 수 없어요.
                    </small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">
                        적절하지 않은 설명입니다.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label for="fullDescription">상세 소개</label>
                <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="editor form-control"
                          placeholder="스터디를 자세히 설명해 주세요." aria-describedby="fullDescriptionHelp" required></textarea>
                <small id="fullDescriptionHelp" class="form-text text-muted">
                    스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어 주세요.
                </small>
                <small class="invalid-feedback">상세 소개를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">FullDescription Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"aria-describedby="submitHelp">여행 시작하기!</button>
            </div>
        </form>
    </div>
</div>
<script th:replace="fragments.html::editor-script"></script>
<div th:fragment="editor-script">
</body>
</html>