<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments.html::head"/>
<body>
    <nav th:replace="fragments.html :: mainNavbar"/>
    <div th:if="${travel.useBanner}" class="row" id="travel-logo">
        <img th:src="${travel.image}"/>
    </div>
    <div class="container">
        <div class="row pt-4 text-left justify-content-center bg-light">
            <div class="col-6">
                <a href="#" class="text-decoration-none" th:href="@{'/travel/'+${travel.travelName}}">
                    <span class="h2" th:text="${travel.travelName}">여행 제목</span>
                </a>
            </div>
            <div class="col-4 text-right justify-content-end">
                <span th:if="${!travel.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                      title="여행 공개하지 않음">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;"type="button" disabled>DRAFT</button>
                </span>
                <span th:if="${!travel.closed}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                      title="끝난 여행">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;"type="button" disabled>Closed</button>
                </span>
                <span th:if="${!travel.recruiting}" class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                      title="팀원 모집중 아님">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;"type="button" disabled>OFF</button>
                </span>
                <span sec:authorize="isAuthenticated()" th:if="${travel.isJoinable(#authentication.principal)}"
                    class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" th:href="@{'/travel/'+${travel.travelName}+'/join'}">
                        여행 함께하기</a>
                    <a class="btn btn-outline-primary" th:href="@{'/travel/'+${travel.travelName}+'/members'}"
                        th:text="${travel.members.size()}">1</a>
                </span>

                <span sec:authorize="isAuthenticated()" th:if="${!travel.closed && travel.isMember(#authentication.principal)}"
                      class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" th:href="@{'/travel/'+${travel.travelName}+'/leave'}">
                        여행 탈퇴하기</a>
                    <a class="btn btn-outline-primary" th:href="@{'/travel/'+${travel.travelName}+'/members'}"
                       th:text="${travel.members.size()}">1</a>
                </span>
                <span sec:authorize="isAuthenticated()" th:if="${travel.published && !travel.closed && travel.isManager(#authentication.principal)}">
                    <a class="btn btn-outline-primary" th:href="@{'/travel/'+${travel.travelName}+'/new-spot'}"> 새 장소 추가하기 </a>
                </span>
            </div>
        </div>
        <div class="row justify-content-center bg-light">
            <div class="col-10">
                <p class="lead" th:text="${travel.shortDescription}"></p>
            </div>

        </div>
        <div class="row px-3 justify-content-center bg-light">
            <div class="col-10">
               <span th:each="tag: ${travel.tags}"
                     class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/tag/' + ${tag.tagTitle}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${tag.tagTitle}">Tag</span>
                    </a>
                </span>
            </div>
        </div>
        <div class="row px-3 justify-content-center bg-light">
            <div class="col-10">
               <span th:each="spot: ${travel.spots}"
                     class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/spot/' + ${spot.spotName}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${spot.startTime}">Spot</span><span th:text="${spot.endTime}">Spot</span>
                    </a>
                </span>
            </div>
        </div>
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:utext="${travel.fullDescription}"></div>
        </div>

        <div th:replace="fragments.html::footer"></div>
    </div>

</body>
</html>