<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"{
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"/>
<body>
<nav th:replace="fragments.html :: mainNavbar"/>
<div class="container">

  <div class="row pt-4 text-left justify-content-center bg-light">

      <h1 th:text="${spotName}"></h1>
      <h1>와 관련된 장소를 찾을 수가 없습니다. 새로운 장소를 등록해주세요.</h1>

      <a th:href="">


      </a>

  </div>

  <div th:replace="fragments.html::footer"></div>
</div>

</body>
</html>