<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"/>
<body>
<nav th:replace="fragments.html :: mainNavbar"/>
<div class="container">

    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a href="#" class="text-decoration-none" th:href="@{'/spots/'+${spot.spotName}}">
                <span class="h2" th:text="${spot.spotName}">장소 이름</span>
            </a>
        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p class="lead" th:text="${spot.shortDescription}"></p>
        </div>

    </div>
    <!--
    <div class="row px-3 justify-content-center bg-light">
        <div class="col-10">
               <span th:each="tag: ${travel.tags}"
                     class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/tag/' + ${tag.tagTitle}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${tag.tagTitle}">Tag</span>
                    </a>
                </span>
        </div>
    </div>
    <div class="row px-3 justify-content-center">
        <div class="col-10 pt-3" th:utext="${travel.fullDescription}"></div>
    </div>
-->

    <div id="map" class="row justify-content-center bg-light" style="width:500px;height:400px;"></div>



    <!--
        <div class="row px-3 justify-content-center bg-light">
            <ul class="list-unstyled col-10">
                <li th:each="spot: ${travel.spots}">
                    <div class="media-body">
                        <a th:href="@{'/search/spot/' + ${spot.spotName}}" ><span th:text="${spot.spotName}"></span></a>
                        <span th:text="${spot.startTime}"></span> <span>부터 </span> <span th:text="${spot.endTime}"></span> <span>까지</span>
                        <span>       소요 예상 비용 : </span><span th:text="${spot.cost}"></span>
                        <br><span>  이 장소는 </span><span th:text="${spot.shortDescription}"></span>
                    </div>
                </li>
            </ul>
        </div>
        -->
    <div th:replace="fragments.html::footer"></div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey="></script>
<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(35.158461, 129.160094), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
</script>
</body>
</html>