<!DOCTYPE html>
<html lang="en"xmlns:th = "http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"/>

<body>
<nav th:replace="fragments.html :: mainNavbar"/>
<div class="py-3 text-center" th:if="${error != null}">
    <p class="lead">With Travel 이메일 확인 실패!</p>
    <div class="alert alert-danger" role="alert">
        이메일 확인 링크가 정확하지 않습니다.
    </div>
</div>
<div class="py-3 text-center" th:if="${error == null}">
    <p class="lead">With Travel 이메일 확인 완료!</p>
    <h2>이메일이 확인 되었습니다!<span th:text="${nickname}"></span>님! 이제 With Travel과 함께 여행을 떠나보세요!</h2>
</div>
</body>
</html>