<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>With Travel</title>
    <link rel="stylesheet" href ="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">

    <style>
        .container {
            max-width: 100%;
        }
        .tagify--outside{
            border: 0;
        }
    </style>


</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="mainNavbar">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <h2>With Travel</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form th:action="@{/search/study}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="여행지로 검색해봐요" aria-label="Search" />
                </form>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav justify-content-end">
        <div class="dropdown"sec:authorize="isAuthenticated()">
            <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                여행보기!
            </button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="userDropdownMenu">
                <h5 class="dropdown-header">
                    <span sec:authentication="name">Username</span>, 당신의 여행!
                </h5>
                <li><a class="dropdown-item" >지난 여행들</a></li>
                <li><a class="dropdown-item" >예정된 여행</a></li>
                <li><a class="dropdown-item" >팀원을 기다리는 여행들</a></li>
            </ul>
        </div>

        <li class="nav-item"sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="#" th:href="@{/login}">로그인</a>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="#" th:href="@{/sign-up}">가입</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link"th:href="@{/notifications}">
                <i class="fa fa-bell-o"></i>
            </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="#" th:href="@{'/profile/' + ${#authentication.name}}">
                <svg data-jenticon-value="user127" th:data-jdenticon-value="${#authentication.name}" width="40" height="40" class="rounded border bg-light"></svg>
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <form class="form-inline" action="#" th:action="@{/logout}" method="post">
                <button class="btn btn-secondary" type="submit">로그아웃</button>
            </form>
        </li>
    </ul>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</nav>

<div th:fragment="authenticate" class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    이메일 인증이 되지 않으면 위드 트래블의 서비스를 이용할 수 없습니다! <a href="#" th:href="@{/check-email}"class = "alert-lint">계정인증 이메일</a>을 확인하세요!
</div>
<div th:fragment="setting-menu (CurrentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu =='profile'}? active" href="#" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu =='password'}? active" href="#" th:href="@{/settings/password}">패스워드</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu =='notification'}? active" href="#" th:href="@{/settings/notification}">알림 설정</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu =='tags'}? active" href="#" th:href="@{/settings/tags}">관심 주제</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu =='places'}? active" href="#" th:href="@{/settings/places}">관심 지역</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu =='account'}? active" href="#" th:href="@{/settings/account}">계정관리</a>
</div>

<script type="application/javascript" th:fragment="FormValidation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>
<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>
<footer th:fragment="footer">
    <div class="row justify-content-center">

        <small class="d-block mb-3 text-muted">&copy; 2022</small>
    </div>
</footer>