<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"/>

<body class="bg-light">
<nav th:replace="fragments.html :: mainNavbar"/>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    이메일 인증이 되지 않으면 위드 트래블의 서비스를 이용할 수 없습니다! <a href="#" th:href="@{/check-email}"class = "alert-lint">계정인증 이메일</a>을 확인하세요!
</div>
<div class="container">


    <div class="py-5 text-center">

        <h2>여행 공개여부 및 멤버모집 여부</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html::travelsetting-menu (travelMenu = 'open-closed')"></div>
        </div>
        <form class="needs-validation col-sm-8" action="#"
              th:action="@{'/travel/'+${travel.travelName}+'/settings/open-closed'}" th:object="${travelRecruiting}" method="post" novalidate>
            <div th:replace="fragments.html :: travel-menu(travelMenu='settings')"></div>
            <div class="form-group">
                <label for="recruiting">새 멤버를 모집해볼래요?</label>
                <input id="recruiting" type="checkbox" th:field="*{recruiting}" aria-describedby="recruitingHelp" required>
                <br>
                <small id="recruitingHelp" class="form-text text-muted">
                    체크를 하실 경우 여행을 같이 떠날 새로운 사람을 만날 수 있습니다.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('recruiting')}" th:errors="*{recruiting}">
                    오류가 발생했습니다.
                </small>
            </div>
            <div class="form-group">
                <label for="published">여행을 다른 사람들에게 공개하실래요?</label>
                <input id="published" type="checkbox" th:field="*{published}" aria-describedby="publishedHelp" required>
                <br>
                <small id="publishedHelp" class="form-text text-muted">
                    공개여부를 설정해주세요. 다른 사람들의 검색에 보입니다. 공개가 아니더라도 멤버를 모집할 수 있습니다.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('published')}" th:errors="*{published}">
                    적절하지 않은 설명입니다.
                </small>
            </div>
            <div class="form-group">
                <label for="closed">여행 종료여부 선택</label>
                <input id="closed" type="checkbox" th:field="*{closed}" aria-describedby="closedHelp" required>
                <br>
                <small id="closedHelp" class="form-text text-muted">

                </small>
                <small class="invalid-feedback">여행 종료여부를 결정해주세요. 여행 종료를 선택하시면 공개와 모집이 불가능합니다.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('closed')}" th:errors="*{closed}">closed Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"aria-describedby="submitHelp">수정사항 반영하기</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>