<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"/>

<body class="bg-light">
<nav th:replace="fragments.html :: mainNavbar"/>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    이메일 인증이 되지 않으면 위드 트래블의 서비스를 이용할 수 없습니다! <a href="#" th:href="@{/check-email}"class = "alert-lint">계정인증 이메일</a>을 확인하세요!
</div>
<div class="container">
    <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <span th:text="${message}">완료</span>
    </div>
    <div class="py-5 text-center">
        <h2>여행 계획 세우기</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html::travelsetting-menu (travelMenu = 'tag')"></div>
        </div>
        <div class="needs-validation col-sm-8" action="#">

        </div>
    </div>
</div>
</body>
</html>